{% extends 'base.html.twig' %}

{% block title %}Edit OrderrForm{% endblock %}

{% block body %}
    <h1>Edit OrderrForm</h1>

    {{ include('orderr_form/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('orderr_form_index') }}">back to list</a>

    {{ include('orderr_form/_delete_form.html.twig') }}
{% endblock %}
