{% extends 'base.html.twig' %}

{% block title %}Orderr index{% endblock %}

{% block body %}
    <h1>Dakujeme ze ste u nas nakupili </h1>

    <a href="{{ path('product_list_index') }}">Zoznam Produktov</a>
{% endblock %}
